{
    "presets": ["@babel/preset-env", "@babel/preset-react", "react-app"],
    "plugins": [["@babel/plugin-transform-spread", {
            "loose": true
        }],
        "@babel/plugin-proposal-class-properties",
        ["@babel/plugin-transform-runtime"]
    ],
}